@model IEnumerable<NoFallesAsiste.Application.Models.Ficha>

@{
    ViewData["Title"] = "Fichas dashboard";
}

<h1>Fichas</h1>

<p>
    <a asp-action="Create">Nueva Ficha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Inicio Formación
            </th>
            <th>
                Fin Formación
            </th>
            <th>
                Inicio Practicas
            </th>
            <th>
                Tipo Horario
            </th>
            <th>
                Programa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPractice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FichaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FichaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FichaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
