@model IEnumerable<NoFallesAsiste.Application.Models.Programa>

@{
    ViewData["Title"] = "Programas";
}

<h1>Programas</h1>

<p>
    <a asp-action="Create">Nuevo Programa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 Nombre
            </th>
            <th>
                 Descripción
            </th>
            <th>
                Versión
            </th>
            <th>
                Tipo de Programa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeProgramId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
