@model NoFallesAsiste.WebApp.Models.Ficha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPractice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPractice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FichaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
